// Place all the styles related to the inquiry controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.otoiawase{
  height: 72vh;
  width:100%;
  text-align: center;
}

.table{
    margin: 0 auto;
}